.commentAdderContainer {
    padding: 1rem;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
                        'input input'
                        'image send';
    grid-template-rows: 100px auto;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    margin-bottom: 1.2rem;
}

.commentAdderContainer img { grid-area: image; }
.input { grid-area: input; }
.send { grid-area: send; }

.commentAdderContainer img {
    max-width: 40px !important;
    max-height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
    object-fit: contain;
    margin: auto 0 !important;
    justify-self: flex-start;
}

.input {
    border: 2px solid var(--very-light-gray);
    border-radius: 10px;
    font-size: 100%;
    resize: none;
    padding: 1rem 1.5rem;
    line-height: 1.6rem;
    color: var(--grayish-blue);
}

.input::placeholder {
    color: var(--grayish-blue);
    letter-spacing: 0.01rem;
}

.send {
    background: var(--moderate-blue);
    color: white;
    font-size: 100%;
    font-weight: var(--medium);
    width: fit-content;
    justify-self: flex-end;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
}

@media (min-width: 768px) {
    .commentAdderContainer {
        grid-template-areas: 
                            'image input send';
        grid-template-columns: 40px auto min-content;
        grid-template-rows: auto;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.5rem;
    }

    .commentAdderContainer img {
        margin-right: 1rem;
        border: 1px solid;
        position: static;
    }

    .input {
        width: 100%;
    }
}