.replyContainerWrapper {
    overflow: hidden;
    position: relative;
}

.replyContainer {
    width: 95%;
    margin-left: auto;
}

.replyLine {
    background: var(--light-gray);
    height: 5px;
    transform-origin: bottom right;
    transform: rotateZ(90deg);
    min-width: 1000px;
    position: absolute;
    bottom: 1rem;
    right: 100%;
}

@media (min-width: 768px) {
    .replyContainer {
        width: 89%;
    }

    .replyLine {
        right: 95%;
    }
}